html
  head
    title 개역한글입니당.
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
    link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet',href='//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet',href='/css/read.css')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='//code.jquery.com/ui/1.11.1/jquery-ui.js')
    script(src='/js/jquery-scrollto.js')
    script(src='/js/initbible.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        form(name='mBible',role='form', style="margin-top:7px;margin-bottom:7px;")
          ul.nav.navbar-nav
            li
              a(href='#',onclick='modalHistroy();')
                i.fa.fa-clock-o.fa-2x.ma-top-4px
            li
              a
                input.form-control.autocomplete.book-in( name='book', placeholder='예)창세기')
            li.active
              a(href='#',onclick='modalBooks();', style='padding-left:0px')
                i.fa.fa-globe.fa-2x.ma-top-4px
            li.active
              a(href='#', onclick='chapterMove(-1)')
                i.fa.fa-chevron-left.fa-2x.ma-top-4px
            li
              a(style='padding-left: 0px;padding-right: 0px;')
                input.form-control.m-input( name='chap', placeholder='장')
            li.active
              a(href='#', onclick='chapterMove(1)')
                i.fa.fa-chevron-right.fa-2x.ma-top-4px
            li
              a(style='padding-left: 10px;padding-right: 0px;')
                input.form-control.m-input( name='phase' placeholder='절')
            li
              a.btn.btn-primary(style='margin-top: 5px;margin-left: 10px;color:white;height:30px;width:27px;') go
    .jumbotron
      .container
        h3 주 말씀 내 발의 등이요.
    .container
      .content
        .prevChap
        .cbody
          a.btn.btn-primary.install-btn(href='#', onclick='bibleInstall();') 설치(4M - 시간 걸림)
        .nextChap
    .modal.fade#mBooks
      .modal-dialog
        .modal-content
          .modal-header
            h4 성경선택
          .modal-body
    .modal.fade#mHistory
      .modal-dialog
        .modal-content
          .modal-header
            h4 이전검색
          .modal-body
    .modal.fade#mWait
      .modal-dialog
        .modal-content
          .modal-body
            h4 조금만 기다리세요
script.
  $( document ).ready(function( $ ) {
    bibleInit();
    $("input").on('change', function(){
      bibleRead();
    });
  });
